plugins = []
functionsDirectory = "/home/lagz/lagz-autotech/frontend/netlify/functions"
functionsDirectoryOrigin = "config"
headers = []

[functions]

[functions."*"]

[build]
publish = "/home/lagz/lagz-autotech/frontend/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/home/lagz/lagz-autotech/frontend"
command = "npm run build"
functions = "/home/lagz/lagz-autotech/frontend/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]